$gray-dark: #141414;
$gray-medium: lighten($gray-dark, 10%);
$gray-light: lighten($gray-dark, 20%);
$gray-very-light: lighten($gray-dark, 24%);

$text-gray: #979797;
$text-green: #7fcf35;

$orange: #d4670b;