@import "./color.scss";
@import "./size.scss";

* {
  &::-webkit-scrollbar {
    width: 10px;
    background: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
  }
}

@keyframes animation_rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animation_rotation {
  animation: animation_rotation 2s linear infinite;
}

.clickable,
button {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    position: relative;
    opacity: 0.6;
    top: 1px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.shadow {
  box-shadow: 0px 1px 6px 2px #00000055;
}

@mixin base_button($bg, $color, $padding, $radius) {
  background: $bg;
  outline: none;
  border: none;
  padding: $padding;
  color: $color;
  border-radius: $radius;
}

.button_group {
  display: flex;

  button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.button_group_round_compact {
  display: flex;

  button:first-child {
    border-radius: 5px 0 0 5px;
  }
  button {
    border-radius: 0;
    margin-right: 1px;
  }
  button:last-child {
    border-radius: 0 5px 5px 0;
  }
}

.div_group {
  display: flex;

  > div {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.button_blue {
  @include base_button(#2d88ff, #fefefe, 5px 10px, 2px);
}
